@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Lexend', Arial, Helvetica, sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Scrollbar width */
}

::-webkit-scrollbar-track {
  background: var(--background); /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #E25319; /* Scrollbar thumb color */
  border-radius: 10px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background: #c74614; /* Darker shade when hovering */
}

@keyframes glow {
  0% {
    box-shadow: 0 0 5px rgba(255, 165, 0, 0.4);
  }
  50% {
    box-shadow: 0 0 20px rgba(255, 165, 0, 0.8);
  }
  100% {
    box-shadow: 0 0 5px rgba(255, 165, 0, 0.4);
  }
}
